@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");





/* about section styling */
.about .title::after {
  content: "Introduction";
}
.about .skill-title::after {
  content: "Technical Level";
}


section .skill-title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  transform: translateX(-50%);

}



section .skill-title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #0088a9;
  padding: 0 5px;
  transform: translateX(-50%);
 
}

.about .quali-title::after {
  content: "Educational Journey";
}
section .quali-title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 250px;
  height: 3px;

  transform: translateX(-50%);
}
section .quali-title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #0088a9;
  padding: 0 5px;
 
  transform: translateX(-50%);
}
.about .certi-show-button{
  cursor: pointer !important;
}
.about .certification-title::after {
  content: "Achivements & Milestones";
    
}
section .certification-title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 350px;
  height: 3px;

  transform: translateX(-50%);
}
section .certification-title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #0088a9;
  padding: 0 5px;
 
  transform: translateX(-50%);
}
.about .about-content .left {
  width: 40%;
}
.about .about-content .left img {
  height: 450px;
  width: 380px;
  object-fit: cover;
  border-radius: 6px;
  padding: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 1s ease;
}
.about .about-content .left img:hover {
filter:grayscale(0.5);
border-color: #0088a9;
}
.about .about-content .right {
  width: 60%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.about .about-content .right .text span {
  color: #0088a9;
}
.about .about-content .right p {
  text-align: justify;
  font-size: 15px;
}

.about-count{
  text-align: center;
}
.about .about-content .right .about-cv {
  display: inline-block;
  background: #0088a9;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #0088a9;
  transition: all 1s ease;
}
.about .about-content .right .about-cv:hover {
  color: #0088a9;
  background: none;
}

.about-rat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
}

.skill-title {
  padding-top: 0px;
}

.skills .skill-text{
font-size: 18px;
text-align: center;
padding-bottom:30px;
margin-top: -20px;

}
.skills .skills-content .column {
  width: calc(50% - 30px);
}


 .bars {
  margin-bottom: 15px;
}
 .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

.skills .skills-content .left span {
  font-weight: 500;
  font-size: 18px;
}

.line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.c {
  width: 0%;
  height: 5px;
  background-color: #0088a9;
}
.cpp {
  width: 0%;
  height: 5px;
  background-color: #0088a9;
}
.cs {
  width: 0%;
  height: 5px;
  background-color: #0088a9;
}
.java {
  width: 0%;
  height: 5px;
  background-color: #0088a9;
}
.py {
  width: 0%;
  height: 5px;
  background-color: #0088a9;
}
.html {
  width: 0%;
  height: 5px;
  background-color: #0088a9;
}
.css {
  width: 0%;
  height: 5px;
  background-color: #0088a9;
}
.js {
  width: 0%;
  height: 5px;
  background-color: #0088a9;
}
.php {
  width: 0%;
  height: 5px;
  background-color: #0088a9;
}
.mysql {
  width: 0%;
  height: 5px;
  background-color: #0088a9;
}
.sqlserver {
  width: 0%;
  height: 5px;
  background-color: #0088a9;
}

.aspnet {
  width: 0%;
  height: 5px;
  background-color: #0088a9;
}




.quali-title{
  padding-top: 0px;
}

.quali-button {
  text-align: center;
}

.quali-edu img {
  float: left;
  margin-top: -10px;
}
.quali-work img {
  float: left;
  margin-top: -10px;
}
.quali-edu {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 60px;
  margin-right: 30px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  padding: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.quali-edu:hover {
  color: #40b8d6;
}
.quali-work {
  position: relative;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  padding: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: transparent;

  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.quali-work:hover {
  color: #40b8d6;
}
.quali-data {
padding: 20px;
border: 1px solid rgb(17, 170, 181);
border-radius: 10px;
width: 24%;
background-color:  rgba(133, 205, 210, 0.254);
cursor:default;
}
.quali-data {
color: #111;
}
.white-quali-data {
background-color:  rgba(133, 205, 210, 0.254);
}
.white-quali-data a {
color: #111;
}

.dark-quali-data {
background-color:   rgba(130, 245, 234, 0.199); 
}
.white-quali-data i{
  color: #025669af;
}
.dark-quali-data i {
  color: #0d9ebfcf;
}
.dark-quali-data a {
  color: #ffffffbf;
}
.quali-data:hover {

border-top: 5px solid rgb(17, 170, 181);

border-bottom: 2px solid rgb(17, 170, 181);
}


.quali-data i{
 
  padding-bottom: 20px;
}

.edu-log {
  text-align: center;
  display: none;
  justify-content: space-between;
}
.work-log {
  text-align: center;
  justify-content: center;
  display: none;

}

.qualification_active {
    display: flex;
}

.qualification-active-option {

  color: #0088a9;
}

#qualifications{
  padding-bottom: 20px;
}

.skill-icon{

display: inline-block;
height: 40px;
width: 40px;
vertical-align: middle;
}
.skill-icon-text{
display: inline-block;
vertical-align: middle;
}

.other-skill-link{
  height: 70px;
  width: 70px;
  text-decoration: none;
  border:3px solid transparent;
    position: relative;
   display: inline-block; /* or any other display value */
   transition: all 0.3s ease-in-out;
}
.other-skill-icon{
display: inline-block;
max-height: 50px;
max-width: 50px;
min-height: 50px;
min-width: 50px;
 margin: auto;
margin: 10px 0;
filter:brightness(100%) grayscale(0.4);
transition: all 0.3s ease-in-out;
}

.other-skill-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  background: linear-gradient(to right, #08bce95c, #ec236344); /* Adjust colors */
  mix-blend-mode: multiply; /* Adjust blending mode */
  transition: all 0.3s ease-in-out;
}
.other-skill-link:hover::before 
{top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.other-skill-link:hover 
{
  border:3px solid;
  border-image: linear-gradient(var(--angle), #057b88, #b5204f) 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: 5s rotate linear infinite;
}
.other-skill-link:hover .other-skill-icon{
  filter:brightness(110%) grayscale(0);
}
.other-skill-div{

  margin-bottom: 10px;
}
.other-skill-div a{
  margin-bottom: 10px;
}
 /*
 .other-skill-icon:hover{
  border:3px solid;
  border-image: linear-gradient(var(--angle), rgb(3, 255, 142), rgb(0, 94, 255)) 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: 5s rotate linear infinite;
  padding: 8px;


  }  */
  .bars:hover .skill-icon{
    border:3px solid;
    border-image: linear-gradient(var(--angle),#057b88, #b5204f) 1;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: 5s rotate linear infinite;
    padding: 5px;
  } 
  
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle:360deg;
  }
}

  .bars{
    position: relative;
    padding-top: 5px;
    cursor:pointer;
    border-top: 1px solid rgba(133, 205, 210, 0);
    border-left: 1px solid rgba(133, 205, 210, 0);
    border-right: 1px solid rgba(133, 205, 210, 0);
  }
  .info{
    padding-left: 10px;
    padding-right: 10px;
  }
  .bars::before{
    background: rgba(106, 234, 244, 0.254);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
    }
    .bars::before{
    width: 0;
    height: 100%;
    }
    .bars:hover::before{
    width: 100%;
    }

  /* .bars:hover{
    background-color: rgba(133, 205, 210, 0.254);
    
  } */


.certificate{
  color: #111;
}
.showmore {
  display: inline-block;
  background: #0088a9;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #0088a9;
  transition: all 1s ease;
  cursor: pointer;

}
.showmore:hover {
  color: #0088a9;
  background: none;
}

.certificates{
max-width: 90%;
}

.certificate{
text-decoration: none;
list-style-type: none;
cursor: text;
margin-bottom: 20px;
}
.white-certificate .certificate-div{
  background-color: #5bbfd81a;
 }
.dark-certificate .certificate-div{
  background-color:  rgba(130, 245, 234, 0.24);
  color: #ffffff94;
 }

 .dark-certificate i{
  
  color: #11bae5!Important;
 } 
.certificate-div{
height: 100px;
width: 100%;
border:2px solid #0087a9;
box-shadow: 0 10px 30px -15px #0088a9;
display: flex;
-webkit-box-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
flex-direction: column;
align-items: flex-start;
position: relative;
height: 100%;
padding: 1.5rem 1.75rem;
border-radius: 10px;
}

.certificate-top-div{
  display: flex;
  height: 20%;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 5px;
  
}

.certificate-middle-div{
  display: flex;
  height: 20%;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 10px;
 
}

.certificate-bottom-div{
  display: flex;
  height: 20%;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 5px;

}

.certificate-title{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: calc(10px + 0.5vw);
font-weight:bold;
}
.dark-certificate .certificate-title{
  color: #ffffffee;
 }
 .dark-certificate .certificate-given{
  color: #ffffffee;
 }
 
.certificate-ico{

  color: #033b49;
  font-size: calc(13px + 0.5vw);
}
.certificate-institute-ico{
  color: #033b49;
  font-size: calc(8px + 0.5vw);
}
.certificate-body{
  font-size: calc(8px + 0.3vw);
}

.certificate-given{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: calc(8px + 0.3vw);
  font-weight: bolder;
  color: #111;
}

.certificate-no{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(8px + 0.2vw);
    font-weight: bolder;
}