.projects {
    padding-bottom: 0px;
    font-family: "Poppins", sans-serif;
  }
  
  .projects .projects-title::after {
    content: "My Works";
  }

   .projects-title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    
    transform: translateX(-50%);
  }
   .projects-title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #0088a9;
    padding: 0 5px;

    transform: translateX(-50%);
  }

      
.carousel{
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
  display: flex;
  width:100%;
}
.carousel .card{

  color: rgb(0, 0, 0);
  text-align: center;
  margin: 10px;
  justify-content: space-between;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  border: 1px solid rgb(1, 172, 184);
height: 450px;
cursor: pointer;
transition: all 0.3s ease;
}
.owl-carousel .owl-stage{
  height: 480px;
}
.white-card{
 background-color:  rgba(126, 202, 194, 0.254); 
}
.dark-card{
 background-color:  rgba(141, 227, 218, 0.848); 
}  
.carousel .card:hover{
--angle:0deg;
background-color:  rgba(126, 202, 194, 0.604);
transform: scale(1.05);
transition: all 0.3s ease;
border:2px solid;
border-image: linear-gradient(var(--angle), rgb(3, 255, 142), rgb(0, 94, 255)) 1;
background-origin: border-box;
background-clip: content-box, border-box;
animation: 5s rotate linear infinite;
}




@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle:360deg;
  }
}



.carousel .card:hover .card-img img{
border: 2px solid rgb(1, 172, 184);
border-radius: 5px;
box-shadow: 0px 0px 2px 2px rgba(126, 202, 194, 0.636);
transform: scale(0.9);
transition: all 0.3s ease;

}

.carousel .card:hover .youtube-video{
border: 2px solid rgb(1, 172, 184);
border-radius: 5px;
box-shadow: 0px 0px 2px 2px rgba(126, 202, 194, 0.636);
transform: scale(0.9);
transition: all 0.3s ease;
}

.card-img{
width: 100%;
height: 50%;
object-fit: cover;
margin: auto;
transition: all 0.3s ease;
}


.youtube-video{
width: 100%;
height: 100%;
object-fit: cover;
margin: auto;
transition: all 0.3s ease;
}

.card-img img{
  height: 100%;
transition: all 0.3s ease;
}

.card-title{
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  
}

.card-text{
  font-size: 12px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: center;
  display: inline-block;
}

.card-tag{
  font-size: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
margin: 10px;

}


.tag-1 i{
  color: #0a3945;
    }
   .tag-2 i{
    color: #163b76;
    }
    .tag-3 i{
    color: #3f281f;
    }

.tag-1{
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
    }
   .tag-2{
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    }
    .tag-3{
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
    }

.tag-span{
  writing-mode:horizontal-tb;
    }

.owl-dots{
  text-align: center;
  margin-top: 30px;
}
.owl-dot{
  height: 15px;
  width: 25px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0088a9!important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.owl-dot.active{
  background: #0087a9d5!important;
}

.owl-dot:hover{
  background: #0087a961!important;
}

.owl-carousel .owl-item img{
  height: 200px;
}

.youtube-video{
   height: 200px;
}


